<div id="wrapper">
	<div id="top_logo">
    <%#= image_tag current_school_detail.logo.url %>
  </div>	
	<h3 style="text-align: center;padding-bottom: 18px;">Sign Up</h3>
	<div id="login_area_bg">
		<div class="registration_form_css">
			<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-horizontal' }) do |f| %>
			  <%= f.error_notification %>
			  <%= display_base_errors resource %>
			  <div class="form-group">
		      <label class="control-label col-sm-2" for="email">User Name:</label>
		      <div class="col-sm-10">
			  		<%#= f.input :username, :autofocus => true,:required => true %>
		        <%= f.text_field :username, class: "form-control"%>
		      </div>
		    </div>

		    <div class="form-group">
		      <label class="control-label col-sm-2" for="email">Email:</label>
		      <div class="col-sm-10">
			  		<%#= f.input :email, :required => true %>
		        <%= f.text_field :email, class: "form-control"%>
		      </div>
		    </div>

		    <div class="form-group">
		      <label class="control-label col-sm-2" for="email">Password:</label>
		      <div class="col-sm-10">
			  		<%#= f.input :password, :required => true %>
		        <%= f.password_field :password, class: "form-control"%>
		      </div>
		    </div>

		    <div class="form-group">
		      <label class="control-label col-sm-2" for="email">Password Confirmation:</label>
		      <div class="col-sm-10">
			  		<%#= f.input :password_confirmation, :required => true %>
		        <%= f.password_field :password_confirmation, class: "form-control"%>
		      </div>
		    </div>

		    <div class="form-group"> 
		      <div style="margin-left: 19%;">
		        <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
					  <%= f.button :submit, 'Sign up', :class => 'btn-primary' %>
		      </div>
		    </div>

			<% end %>
			<%= render "devise/shared/links" %>
		</div>
	</div>
</div>