<h3>Orders</h3>
<% if @orders.present? %>
  <div>
    <%= link_to "New Order", new_order_path, class: "btn btn-sm btn-primary pull-right"%>
  </div>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Order</th>
        <th>Tot. Sheets</th>
        <th>Sheet Type</th>
        <th>Start date</th>
        <th>Finishing date</th>
        <th># of Files</th>
        <% if current_user.roles.where(name: ["Super Admin", "Admin"]).any? %>
          <th># of Notes</th>
        <% end %>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.name, order_path(order) %></td>
        <td><%= order.no_of_sheets %></td>
        <td><%= order.sheet_type %></td>
        <td><%= order.from_date.class %></td>
        <td><%= order.to_date %></td>
        <td><%= order.try(:zip_uploaders).try(:count) %></td>
        <% if current_user.roles.where(name: ["Super Admin", "Admin"]).any? %>
          <td><%= order.notes.count%></td>
        <% end %>
        <td>
          <%= link_to "View files", files_order_zip_uploaders_path(order), class: "btn btn-sm btn-mini btn-primary"%>
          <% if current_user.roles.where(name: ["Super Admin", "Admin"]).any? %>
            <%= link_to "Add Note", "javascript:void(0)", class: "btn btn-mini btn-sm btn-success open_modal", id: "#{order.id}"%>
            <%= link_to "Upload zip", new_order_zip_uploader_path(order), class: "btn btn-mini btn-sm btn-warning"%>
            <%= link_to("Delete order", order_path(order), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini btn-sm btn-danger') %>
          <% else %>
          <%= link_to 'Edit', edit_order_path(order), class: "btn btn-mini btn-sm btn-primary"%>
          <% end %>

        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
 <p class="flash-msg">No Order Found.<%= link_to "Click Here to post", new_order_path%></p>
<% end %>

<style type="text/css">
  p.flash-msg {
    background-color : #fff1ab;
    padding : 5px;
    font-weight: bold;
    border:1px solid #EFDF95 ;
    text-align : center;
  }  
</style>

<div class="modal fade" id="note_modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Post A Note</h4>
      </div>
      <%= form_tag(notes_path ,method: :post,class: "form-horizontal")  do %>
        <%= hidden_field_tag :order_id %>
        <div class="modal-body">
          <label>Your Message:</label>
          <textarea rows="4" autofocus style="width:97%" id="message" name="message" placeholder="Write note here..."></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= submit_tag 'Save', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $(".open_modal").click(function(){
      $("#order_id").val($(this).attr('id'));
      $("#note_modal").modal();
    })
  })
</script>
