<div>
  <strong>Order: </strong> <%= @order.name%> | <%= @order.user.email %>
  <%= link_to_function image_tag("/assets/back.png",:border => 0), "history.back()" , class: "pull-right" %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Order</th>
      <th>Tot. Sheets</th>
      <th>Sheet Type</th>
      <th>Start date</th>
      <th>Finishing date</th>
      <% if @admin %>
        <th># of notes</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @order.name%></td>
      <td><%= @order.no_of_sheets %></td>
      <td><%= @order.sheet_type %></td>
      <td><%= @order.from_date.class %></td>
      <td><%= @order.to_date %></td>
      <% if @admin %>
        <td><%= @order.notes.count%></td>
      <% end %>
    </tr>
  </tbody>
</table>
<div>
  <% if @admin %>
    <% if @notes.present? %>
      <div class="panel panel-primary">
        <div class="panel-heading">
          Notes
        </div>
        <div class="panel-body">  
          <table class="table table-striped">
            <thead>
              <th>Posted By</th>
              <th>Message</th>
            </thead>
            <tbody>
              <% @notes.each do |note| %>
                <tr>
                  <td style="width:16%;background-color: lightgray;"><%= note.user.username %>: </td>
                  <td><%= note.message %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% else %>
      <p class="flash-msg">No Message Found.</p>
    <% end %>
  <% end %>
</div>
<%= link_to "Add Note", "javascript:void(0)", class: "btn btn-mini btn-sm btn-success pull-right open_modal", id: "#{@order.id}" if current_user.roles.where(name: ["Super Admin", "Admin"]).any? %>
<div class="clearfooter"></div>
</div>
<%= render "shared/popup" %>
