<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= "PaperLess" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "PaperLess" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <nav class="navbar-inverse ">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <% if current_user && current_user.roles.where(name: ["Super Admin", "Admin"]).any? %>
                <%= link_to "PaperLess", users_path, class: "navbar-brand"%>
              <% else %>
                <%= link_to "PaperLess", orders_path, class: "navbar-brand"%>
              <% end %>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <%= render 'layouts/navigation' %>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>
   
    <div id="main" role="main">
      <div class="container">
        <div>
           <div class="row">
            <div class="span12" style="margin-top:60px;">
              <%= render 'layouts/messages' %>
                <%= yield %>
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>
